<body>
    {{ partial "nav.html" . }}
    <main role="main">
        <div class="jumbotron jumbotron-fluid bg-white shadow">
            <div class="container">
                <h1 class="display-4" style="word-wrap: break-word;">Vi er et lite IT-konsulentfirma</h1>
            </div>
        </div>
        <div class="container">
            <br>
            <div class="row">
                <div class="col text-center">
                    <h1 class="display-4">Tjenester</h1>
                    <p class="lead"><strong>Jbit AS</strong> leverer IT-konsulenttjenester og rådgiving. Vårt fokus er å levere forretningsverdi til kunden.</p>
                    <p class="lead">Våre konsulenter kan hjelpe med realisering av deres IT-strategiske mål.</p>
                </div>
            </div>
            <div class="card-deck">
                <div class="card is-shady">
                    <div class="card-body">
                        <div class="text-center card-icon card-services">
                            <i class="fas fa-cloud-upload-alt fa-7x"></i>
                        </div>
                        <h5 class="card-title text-center">Skyteknologi</h5>
                        <p class="card-text">Vi har erfaring med skyteknologiene under <abbr title="Cloud Native Computing Foundation">CNCF</abbr> paraplyen og lager applikasjoner som er Cloud First.</p>
                    </div>
                </div>
                <div class="card is-shady">
                    <div class="text-center card-icon card-services">
                        <i class="fas fa-rocket fa-7x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Modernisering</h5>
                        <p class="card-text">Våre konsulenter kan modernisere deres applikasjoner, slik at dere kan fortsette å være konkurransedyktige. Vi er gode på stabilitet, kvalitet og fart.</p>
                    </div>
                </div>
                <div class="card is-shady">
                    <div class="text-center card-icon card-services">
                        <i class="fas fa-share-alt fa-7x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Integrasjon</h5>
                        <p class="card-text">Vi er drevne på integrasjon og tar i bruk kjente <abbr title="Enterprise Integration Patterns">EIP</abbr> og teknologier for dette.</p>
                    </div>
                </div>
            </div>
            <div class="card-deck">
                <div class="card is-shady">
                    <div class="text-center card-icon card-services">
                        <i class="fas fa-cogs fa-7x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Automatisering</h5>
                        <p class="card-text">Vi lager løsninger vi kunne driftet selv og gjør det gjerne. Vi automatiserer det som er viktig for dere og leverer fra A til Å.</p>
                    </div>
                </div>
                <div class="card is-shady">
                    <div class="text-center card-icon card-services">
                        <i class="fas fa-desktop fa-7x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Teknologi</h5>
                        <p class="card-text">Våre konsulenter har erfaring med modne programmeringsspråk, databaser og verktøy. Vi bruker rett teknologi for å løse deres problemer, som passer inn med deres strategi.</p>
                    </div>
                </div>
                <div class="card is-shady">
                    <div class="text-center card-icon card-services">
                        <i class="fas fa-heartbeat fa-7x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Monitorering</h5>
                        <p class="card-text">For oss er produksjon viktig, det er der verdiene skapes. Vi kan bidra med monitorering og varsling. I tillegg til å lage strategier for hvordan man kan gjøre IT-forretningen mest mulig stabil.</p>
                    </div>
                </div>
            </div>
            {{ partial "footer.html" . }}
            </div> <!-- /container -->
        </main>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src={{"/js/app.js" | relURL}}></script>
    </body>