<!-- footer -->
<footer class="pt-4 my-md-5 pt-md-5 border-top">
	<div class="row">
		<div class="col-12 col-md">
			<img class="mb-2" src={{"/img/logo_80px.png" | relURL}} alt="Jbit logo" height="50"/>
			<small class="d-block mb-3 text-muted">&copy; 2015-2018</small>
		</div>
		<div class="col-6 col-md">
			<address>
				<strong>Jbit AS</strong><br>
				Minister Ditleffs Vei 11B<br>
				0862 Oslo<br>
				Orgnr:&nbsp;<a href="https://w2.brreg.no/enhet/sok/detalj.jsp?orgnr=916214588" target="_blank">916 214 588</a> MVA
			</address>
		</div>
		<div class="col-6 col-md">
			<dl class="row">
				<dt class="col-sm-3">Epost</dt>
				<dd class="col-sm-9"><a href="mailto:hallo@jbit.no">hallo@jbit.no</a></dd>
				<dt class="col-sm-3">Telefon</dt>
				<dd class="col-sm-9"><a href="tel:41147088">411 470 88</a></dd>
			</dl>
			<a href="https://www.linkedin.com/company/jbit-as" title="Besøk oss på LinkedIn!" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
			<a href="https://github.com/jbit-as" title="Besøk oss på GitHub!" target="_blank"><i class="fab fa-github fa-2x"></i></a>
		</div>
	</div>
</footer>